<div class="mt-4">
    <form method="post" action="">
  <div class="mb-3">
    <label for="search-input" >Tim kiem</label>
    <input type="text" name="q" class="form-control" id="search-input" placeholder="nhap tu khoa...">
  </div>
  <button type="submit" class="btn btn-primary">Run Search</button>
</form>
</div>